<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pay.com.paylib" >

    <application>

        <activity android:name=".PayOnline">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>



</manifest>
